 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shortlink</title>
    <style>
        body{
            height: 100vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: black;
            color: rgb(70, 167, 176);
            font-family: Arial, sans-serif;
        }
        a{
            text-decoration: none;
            padding: 10px 15px;
            margin-top: 1rem;
            width: 400px;
            background-color: white;
            font-size: 1.5rem;
          color: rgb(48, 123, 176);
            border-radius: 20px;
            text-align: center;
           
        }
        h1{font-size: 3rem;
        text-align: center;}
        .history{
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
            align-items: center;
        }
        button{
            background-color: aquamarine;
            padding: 10px 15px;
            margin-top: 15px;
            cursor: pointer;
            border: none;
            border-radius: 10px;
            font-size: 1rem;
            font-weight:700 ;
            transition: all 1s  ease ;

        }
        button:hover{
            transform: rotate(360deg) scale(.9);
            background-color: rgb(77, 207, 164);
            
        }
        @media only screen and (max-width: 480px) {

            h1{
                font-size: 2rem;
                /* background-color: blueviolet; */
            }
            a{
                font-size: 1rem;
                width: 250px;
                overflow: auto;
            }
        }

    </style>
</head>
<body>
    <h1>Short Link Generated</h1>

    <a href="<%= shortLink %>" target="_blank" id='cpy'> https://urlshortlinkapp.onrender.com/url/<%= shortId %></a>
    <button   onclick="cpytxt()">copy Url</button>

    <div class="history">
        <a href="<%= shortLinkH %>">View History</a>
        <a href="/url">back To Home Page</a>

    </div>
 <script >
       // copy  function 

function cpytxt() {
  // Get the text field
  var copyText = document.getElementById("cpy").innerText;

  navigator.clipboard.writeText(copyText).then(()=>console.log('copied')).catch((err)=>console.log());

  // Alert the copied text
  alert("Copied the text: " + copyText);
}



    </script>
</body>
</html>
